body{
    padding: 20px;
}
.ibox {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dee5e7;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.ibox-title {
    line-height: 40px;
    border-color: #edf1f2;
    background-color: #f6f8f8;
    color: #333;
    border-radius: 2px 2px 0 0;
    padding: 15px 15px 3px 15px;
    border-bottom: 1px solid transparent;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
.float-e-margins .btn {
    margin-bottom: 5px;
}
.btn-primary {
    color: #ffffff !important;
    background-color: #7266ba;
    border-color: #7266ba;
}
.btn {
    border-radius: 3px;
}








































































