

.con_nav li{
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}
.con_list{
    padding: 10px 0;
    border: 2px solid #e1e1e1;
    display: none;
}
.con_img img{
    width: 100%;
}
.con_name{
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.con_time span{
    float: left;
}
.con_time span:last-child{
    float: right;
    cursor: pointer;
}
.con_time span:last-child:hover{
    color: #2af;
    text-decoration: underline;
}








































































