#wrapper{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.nav-left{
    padding-left: 10px;
    width: 210px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #1d2b36;
    color: #84929d;
}
.nav-left h3{
    font-size: 20px;
}
.classify h4{
    font-size: 16px;
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.classify h4:hover{
    color: #fff;
}
.classify h4 i{
    float: left;
    margin-right: 8px;
    margin-top: 6px;
}
.classify h4 span{
    float: left;
}
.classify h4:hover i,
.classify h4:hover span{
    color: #fff;
}
.classify h4 b{
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}
.classify_list{
    padding-left: 20px;
    font-size: 14px;
    line-height: 28px;
}
.none{
    display: none;
}
.classify_list li:hover a{
    color: #fff;
}
/* 分类下边框 */
.classify_pd{
    border-bottom: 2px solid #000000;
}
/* 右侧 */
#page-wrapper{
    padding-left: 210px;
}































































